html{
	background:#033b4d;
	font-family: Verdana, Copperplate, Fantasy;
}
body {
	background: url("../images/fondoInicio.jpg");
	background-color: #0a5066 ;
	background-position:top center;
	background-repeat: no-repeat;
	background-size: 100em 60em; /*horizontal vertical*/
}

h1, h2, h3, p{
	color: white;
	text-shadow: 2px 2px 5px black;
}
h1{
	margin: 1em;
}
h2{
	margin: 1.2em;
}
p{
	margin: 2em;
}

form{
	border-radius: 25px;
	background-color:#ff7e19;
	width:50%;
	height:auto%;
	padding: 1em;
}
h3{
	
	color: white;
	text-shadow: 2px 2px 5px #c8440f;
}
label{
	font-family: "calibri";
	font-size: 1.25em;
	color:#073026;
}
input{
	background-color: #f9f770;
}
input[type=text]:hover 
{ 
	background-color: #ff7e19;
}
input[type=submit] {
	font-family: "calibri";
	font-size: 1.25em;
	text-shadow: 2px 2px #c8440f;
	background-color: #da9a12;
	border: none;
	border-radius: 10px;
	color: white;'/*color de letra*/
	padding: 16px 2px;
	text-decoration: none;
	margin: 10px 2px;
	cursor: pointer;
	width: 90%;
	height: 40px;
}
input[type=submit]:hover 
{ 
	background-color: #f06115;
}